[
  {tetrerl, [
    {port, 7168}
  ]},
  {sync, [
    {growl, none},
    {log, none}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {file, "log/error.log"},
        {level, error},
        {date, "$D0"},
        {colored, true}
      ]}
    ]}
  ]}
].